@import url("https://fonts.googleapis.com/css2?family=Sedan+SC&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.root{
  height: 100%;
}

header ul li a {
  position: relative;
  display: block;
  padding: 5px;
}

header ul li a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, #ffffff, #ffffff, #ffffff);
  z-index: 1;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.7s ease-in-out;
}
header ul li a:hover::before {
  transform: scaleX(1);
}
